<div class="row">
    <div class="col-1 text-danger pt-1"><i class="<%=classType%>"></i></div>
    <div class="col-10 ml-auto mr-3">
        <h6><%=headingTxt%></h6>
        <p class="subtitle"><%=paraTxt%></p>
        <hr>
    </div>
</div>