<section id="hire" class="section bg-dark py-5">
    <div class="container text-center">
        <h2 class="text-light mb-5 font-weight-normal">I Am Available For FreeLance</h2>
        <a href = "mailto: ayushmahariya123@gmail.com" class="btn bg-primary w-lg" >Hire me</a>
    </div>
</section>