<div class="col-md-6 col-lg-4">
    <div class="row ">
        <div class="col-5 text-right text-light border-right py-3">
            <div class="m-auto"><i class="<%=classType%>"></i></div>
        </div>
        <div class="col-7 text-left py-3">
            <h1 class="text-danger font-weight-bold font40"><%=headingTxt%></h1>
            <p class="text-light mb-1"><%=paraTxt%></p>
        </div>
    </div>
</div>
