<section class="section bg-dark text-center">
    <div class="container">
        <div class="row text-center">
            <%-include("statisticsPart", {classType: "ti-alarm-clock icon-xl", headingTxt: statisticsData.hoursWorked, paraTxt: "Hours Worked"});%>
            <%-include("statisticsPart", {classType: "ti-layers-alt icon-xl", headingTxt: statisticsData.totalNoOfProjects, paraTxt: "Projects Finished"});%>
            <%-include("statisticsPart", {classType: "ti-cup icon-xl", headingTxt: statisticsData.cupsOfTea, paraTxt: "Cups of Tea"});%>
        </div>
    </div>
</section>
